*.iml
.gradle
local.properties
Fontakodo/.idea/caches
Fontakodo/.idea/libraries
Fontakodo/.idea/misc.xml
Fontakodo/.idea/modules.xml
Fontakodo/.idea/workspace.xml
Fontakodo/.idea/navEditor.xml
Fontakodo/.idea/assetWizardSettings.xml
Fontakodo/.idea/deploymentTargetDropDown.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
